<h2><%= @stylist_list.name() %></h3>

<% if @stylist_list.clients().any? %>
  <h3>All clients assigned to <%= @stylist_list.name() %>:</h3>
  <ul>
    <% @stylist_list.clients().each do |client|%>
      <li><%= client.name()%></li>
    <% end %>
  </ul>
<% else %>
  <h4>You currently have no clients assigned to <%= @stylist_list.name() %></h4>
<% end %>

<hr>

<form action="/single_stylist/<%=@stylist_list.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <% @all_clients.each do |client| %>
    <div class="checkbox">
      <label>
        <% if client.stylist_id() == 0 %>
          <input type="checkbox" name="client_ids[]" value="<%= client.id()%>"><%= client.name()%>
        <% else %>
          <input type="checkbox" name="client_ids[]" value="<%= client.id()%>"><%= client.name()%>   (Warning, client has already been assigned)
        <% end %>
      </label>
    </div>
  <% end %>
<button type="submit">Assign clients</button>

<p><a href="/">Return to Main Page</a></p>
<p><a href="/stylists">Return to All Stylists</a></p>
